.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page h1 {
  font-size: 26px;
  margin-bottom: 1rem;
  color: #0890f1;
}

.page p {
  font-size: 15px;
  line-height: 1.7;
  color: #e21a92;
  margin-bottom: 1rem;
}

