body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(180deg, #184b9d, #3b70c3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.weather-widget {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 320px;
  text-align: center;
}

.header {
  text-align: left;
  margin-bottom: 10px;
}

.date {
  font-size: 16px;
  opacity: 0.9;
  margin: 0;
}


.time {
  font-size: 64px;
  font-weight: 300;
  margin: 10px 0;
}


.time span:last-child {
  font-size: 28px;
  vertical-align: top;
  margin-left: 5px;
}

.details {
  text-align: left;
  font-size: 14px;
  opacity: 0.9;
  margin: 10px 0 20px;
}

.temp-box {
  text-align: center;
  margin-bottom: 0.5rem;
}

.icon {
  font-size: 50px;
  margin-bottom: 5px;
}

.temp {
  font-size: 36px;
  font-weight: bold;
}

.feels {
  font-size: 14px;
  opacity: 0.9;
}

.cloudy {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.footer {
  font-size: 13px;
  opacity: 0.8;
  margin-top: 15px;
}

.btnRestartFetch {
  width: 1.5rem;
  height: 1.5rem;
  padding: 1px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
}

.footerBtn{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.btnRestartFetch svg {
  width: auto;
  height: auto;
}
.btnRestartFetch:hover svg path {
  fill: rgb(0, 255, 217);
}
.btnRestartFetch:active {
  transform: rotate(-90deg);
}

