node_modules
# Игнорировать все файлы с расширением .log
# *.log

# Игнорировать конкретный файл
# config.local.php

# Игнорировать папку build и все внутри нее
# build/

# Игнорировать все файлы в папке temp, но не саму папку
# temp/*

# Игнорировать файлы с расширением .tmp, кроме одного конкретного
# *.tmp
# !important.tmp