.nav {
  max-width: 320px;
}

/* .link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  
} */

.link :global(.MuiTypography-root) {
  font-size: 14px;
  color: #FFFFFF;
}

.link:global(.active) :global(.MuiTypography-root) {
  font-weight: 700;
   color: #f0e808;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 14px;
  font-weight: 500;
  /* text-transform: uppercase; */
}