.todoFormContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.todoFormContainer form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
  flex-wrap: wrap;
  width: 55%;
}

.inputBlock {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.todoFormContainer button {
  border: none;
  height: 3rem;
  cursor: pointer;
  background-color:rgb(157, 247, 112);;
  color: rgb(20, 30, 172);
  font-size: 1.5rem;
}

.todoFormContainer input {
  margin: 0;
  width: 90%;
  border: 2px solid rgb(20, 30, 172);
  padding: 10px;
  font-size: 1.3rem;
}

.todoFormContainer button:hover {
  background-color: rgb(240, 240, 155);
}

.todoFormContainer input,
.todoFormContainer button {
  padding: 10px 15px;
  border-radius: 5px;
}

.error {
  color: #ff4d4f;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
