
.todo {
  display: flex;
  align-items:center;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  border:2px solid rgb(20, 30, 172);
  background-color: #fbfef9;
  user-select: none;
  width: 45%;
}

.todoText {
  font-size: 1.3rem;
  width: 100%;
  text-align: left;
  color:blueviolet
}


.todoIcon {
  font-size: 1.8rem;
  margin-right: 10px;
  color:rgb(255, 149, 0);
}

.completedTodo {
  background-color: unset;
  border-color: gray;
  color: gray;
}

.todo.completedTodo .todoText,
.todo.completedTodo .todoIcon,
.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon {
  color: gray;
}

.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: lightgrey;
  padding: 0 7px;
  font-size: 2rem;
  transition: transform 0.3s;
}

.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.checkIcon:hover {
  color: green;
}

.deleteIcon:hover {
  color: red;
}


.editInput {
  flex: 1;
  padding: 4px 8px;
  font-size: 1rem;
  border: 2px solid rgb(255, 149, 0);
  border-radius: 4px;
  outline: none;
}

.todo.completedTodo .editInput {
  border: 2px solid gray; 
}